<!-- ============ HEADER ============ -->
<%- include ('./partials/head.ejs') %>

  <!-- ============ HEADER============ -->
  <%- include ('./partials/header.ejs') %>



    <div class="container">
      <h1 class="text-center mb-5 main-title">List of Equipment and Vehicles</h1>
      <h3>Find your Equipment or Vehicle</h3>

      <input class="form-control" id="myInput" type="text" placeholder="Enter Equipment Type or Location to find your equipment/vehicle">
      <br>
      <div class="row " id="myDIV">
        <% equipment.forEach(oneEquipment=> { %>

          <div class="col-md-4 mb-4 <%= oneEquipment.typeEquipment %> <%= oneEquipment.location %> <%= oneEquipment.currentUser %>">

            <div class="gallery-item" id="equipmentList">
              <a href="/equipment/<%= oneEquipment._id %>">
                <% if (oneEquipment.typeEquipment==="pick up truck" ){ %>
                  <img src="/uploads/pickup_truck.png" alt="pickup_truck" class="img-fluid">
                  <% } else if (oneEquipment.typeEquipment==="mini excavator" ){ %>
                    <img src="/uploads/mini_excavator.webp" alt="mini_excavator" class="img-fluid">
                    <% } else if (oneEquipment.typeEquipment==="excavator" ){ %>
                      <img src="/uploads/excavator_large.png" alt="excavator" class="img-fluid">
                      <% } else if (oneEquipment.typeEquipment==="scissor lift" ){ %>
                        <img src="/uploads/scissor_lift2.jpeg" alt="scissor_lift" class="img-fluid">
                        <% } else { %>
                          <img src=<%=oneEquipment.typeEquipment %> alt="other type">
                          <% } %>
                            <div class="gallery-title <%= oneEquipment.typeEquipment %>">
                              <%= oneEquipment.description%>
                            </div>
              </a>
            </div>
          </div>
          <% }) %>
          <a href="/equipment/new">
          <i class=" text-center bi bi-plus-circle" style="font-size: 10rem; color: orange; "></i>
        </a>
      </div>
      </div>

      <!-- Filter to find equipment faster https://www.w3schools.com/bootstrap/bootstrap_filters.asp-->
      <script>
        $(document).ready(function () {
          $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".gallery-title").filter(function () {
              $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
      </script>





      <!-- ============ FOOTER============ -->
      <%- include ('./partials/footer.ejs') %>